h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  text-align: center;
}

#profile-picture {
  display: block;
  float: right;
  width: 200px;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  text-align: center;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  text-align: center;
}

.spacer {
  margin-top: 10px;
}

p {
  text-align: center;
}

.box-model {
  display: block;
  width: 200px;
  float: left;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-width: 3px;
  margin-bottom: 10px;
  box-sizing: border-box;
}